@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  /*Colors*/
  --yellow-color :#edcf5d;
  --black-color : #010101;
  --gray-color :#a4a4a4;
  --bague-color :#f2f0ea;

  /*Font*/
  --font-kurale: 'Kurale', sans-serif;
  --font-Kulim: 'Kulim Park' , sans-serif;
  --font-Lexend: 'Lexend Exa', sans-serif;

  /*customize break Points*/
  --breakpoint-xxxs: 280px;
  --breakpoint-xxs: 350px;
  --breakpoint-xs: 450px;

  /* animation scroll*/
  --animate-scroll : scroll 40s linear infinite;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% * 7))}
  }
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.bg-blacke {
  background-color: var(--black-color);
}

.bg-gray  {
  background-color: var(--gray-color);
}

.bg-bague {
  background-color: var(--bague-color);
}

.text-bague {
  color: var(--bague-color);
}

.text-yellow {
  color: var(--yellow-color);
}

.text-black {
  color: var(--black-color);
}

.text-kurale {
  font-family: var(--font-kurale);
}

.text-kulim {
  font-family: var(--font-Kulim);
}

.text-Lexend{
  font-family: var(--font-Lexend);
}

.input {
  @apply border-none rounded-3xl outline-0 px-3 py-2 ;
}


/*category*/
.main-style {
  @apply border-none text-center rounded-full flex justify-center items-center ;
}

.md-category {
  @apply  md:min-w-20 md:h-8 md:p-4 md:text-[18px];
}

.apply-btn:hover {
  @apply text-black bg-yellow-400;
}

.bg-categories:hover {
  @apply bg-[#f2f0ea];
}

.reset-btn:hover {
  @apply text-yellow-400 bg-black;
}
/*plain css*/
.container {
  max-width: 1280px;
  margin: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Change scrollbar thickness */
}

.custom-shadow {
  box-shadow: 0px 0px 4px 2px rgba(14, 55, 54, 0.15);
}


